# Binarios para programas y plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivo binario del proyecto
DEUNA-Challenge

# Archivos de prueba
*.test

# Archivos de cobertura
*.out

# Directorios de dependencias
/vendor/

# Archivos y carpetas específicos de IDEs
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos de log
*.log

# Directorios de salida de compilación
/bin/
/dist/

# Archivos de configuración local
*.env
.env.local

# Directorio temporal de Air
/tmp/

# Archivos de caché de Go
*.sum

# Directorios y archivos específicos del proyecto (ajusta según sea necesario)
/config/local.yaml